/* 
* Playlists view
*/
.playlist_item.playlist {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  
  & .playlist_item_tit_container {
    display: inline-block;
    width: 300px;
  }
  
  & .playlist_item_tit {
    font-size: 17px;    
    color: $defaultColor;
    &:hover {
      cursor: pointer;
      color: #FFF;
    }
  }
  
  & .playlist_item_info {
    display: inline-block;
    width: 300px;
    font-size: 12px;  
    & .fa {
      cursor: default;
    }
    & span {
      margin-right: 10px;
    }
  }
  
  & .playlist_item_controls, & .playlist_item_shared {
    display: inline-block;
    font-size: 12px;    
    width: 300px;
    & a {
      margin-right: 4px;
      &:hover {
        cursor: pointer;
      }    
    }    
    & span {
      margin-right: 10px;
    }
  }

}

/* 
* Playlists view 
*/
.playlistsView {
  
  & h2 {
    margin: 30px 0px 30px;
  }
  
}

/* 
* Playlist export - modal 
*/
.playlistExport {

  & .playlistExport_format {
    & label {
      margin-right: 40px;
    }
  }

}

/*
* Playlist dashboard - modal
*/
.playlistDashboard {

  & .playlistDashboard_field {
    width: 300px;
  }

  & .playlistDashboard_list {
    margin: 20px 0;
  }
  & .playlistDashboard_list_item {
    overflow: hidden;
    padding: 10px 0;

    &:hover {
      background: $sectionBackground;
      cursor: pointer;
    }
  }

  & .playlistDashboard_selectedSong {
    color: #fff;
  }

}