/* 
* Playlist item view
*/
.playlist_item.playlist {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  
  & .playlist_item_tit_container {
    display: inline-block;
    width: 300px;
  }
  
  & .playlist_item_tit {
    font-size: 17px;    
    color: $defaultColor;
    &:hover {
      cursor: pointer;
      color: #FFF;
    }
  }
  
  & .playlist_item_info {
    display: inline-block;
    font-size: 12px;  
    width: 200px;
    
    & .fa {
      cursor: default;
    }
    
    & span {
      margin-right: 10px;
    }
    
  }
  
  & .playlist_item_controls, & .playlist_item_shared {
    display: inline-block;
    font-size: 12px;    
    
    & a {
      margin-right: 4px;
      
      &:hover {
        cursor: pointer;
      }    
      
    }    
    
    & span {
      margin-right: 10px;
    }
    
  }
  
  & .playlist_item_shared {
    width: auto;
    margin-right: 20px;
  }
  
  & .playlist_item_user_type {
    float: right;
    font-size: 12px;    
  }

}

/*
* Playlists view 
*/
.playlistsView {
  
  & h2 {
    margin: 30px 0px 30px;
  }

}

/* Sharing icon */
.playlist_item_sharing {
  font-size: 12px;
}

/* Single playlist view
*
*/
.playlistView {

  & .playlistView_info {
    margin-bottom: 20px;  
    font-size: 17px;
    
    & .playlist_item_info {
      display: inline-block;
      width: 300px;
      & .fa {
        cursor: default;
      }
      & span {
        margin: 0 20px 0 0;
      }
    }
    
    & .playlist_item_controls {
      display: inline-block;
      float: right;
      
      & a {
        margin: 0 0 0 20px;
        
        &:hover {
          cursor: pointer;
        }    
        
      }    
      
    }
    
  }
  
}

/* Playlist tracks - modal */
.playlistTracks {

  & .playlistTracks_title {
    margin: 0 0 20px 0;
  }

  & .songList_item_songs_list {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;

    & .songList_item_song_button {
      height: 100%;
      padding-top: 0;
      font-size: 32px;
    }

    & .songList_item_song_user, & .songList_item_request_info {
      display: block;
      cursor: pointer;
      width: 100%;
      float: none;

      & span {
        cursor: pointer;
      }
      
    }
    
    & .songList_item_request_info {
      cursor: default;
      
      & span {
        cursor: default;
        margin-right: 60px;
      }
      
    }

    & .songList_item_songs_list {
      margin: 20px 0 0 0;
    }

    & .songList_item_songs_list_item {
      cursor: pointer;
      overflow: hidden;
      margin: 0 0 5px 0;
    }

    & .songList_item_container_artwork {
      width: 47px;
      height: 47px;
      float: left;
      position: relative;
    }

    & .songList_item_container_info {
      float: left;
      margin: 0 0 0 10px;
    }

    & .songList_item_song_tit {
      height: auto;
      max-width: 450px;
      margin-top: 5px;
      margin-bottom: 0px;
    }

    & .songList_item_song_info {
      display: inline-block;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }
      
    }
    
    & .playlistTracks_controls {
      display: inline-block;
      float: right;
      font-size: 15px;
      
      & a {
        margin: 0 5px 0 5px;
        
        &:hover {
          cursor: pointer;
        }
        
      }
      
    }

  }

}

/* 
* Playlist export - modal 
*/
.playlistExport {

  & .playlistExport_format {
    & label {
      margin-right: 40px;
    }
  }

}

/*
* Playlist dashboard - modal
*/
.playlistDashboard {

  & .playlistDashboard_list_container {
    max-height: 400px;
    overflow-y: scroll;
  }

  & input {
    &:hover {
      cursor: text;
    }    
  }

  & img {
    width: 25px;
  }

  & h4 {
    display: inline-block;
    width: 300px;
  }
    
  & img, span, h4 {
    &:hover {
      cursor: pointer;
    }
  }

  & .playlistDashboard_field {
    width: 300px;
  }

  & .playlistDashboard_list {
    margin: 20px 0;
  }
  & .playlistDashboard_list_item {
    overflow: hidden;
    padding: 10px 0;

    &:hover {
      background: $sectionBackground;
      cursor: pointer;
    }
  }

  & .playlistDashboard_selectedSong {
    color: #fff;
  }
  
  & .playlist_item_user_type {
    display: inline-block;
    float: right;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 10px;
  }

}

/*
* Shared playlist users - modal
*/
.playlistUsers {

  & input {
    &:hover {
      cursor: text;
    }    
  }

  & img {
    width: 25px;
  }

  & h4 {
    display: inline-block;
    width: 300px;
  }

  & .closeModal {
    margin: 0px !important;
  }

  & .playlistUsers_field {
    width: 300px;
  }

  & .playlistUsers_list {
    margin: 20px 0;
  }
  & .playlistUsers_list_item {
    overflow: hidden;
    padding: 10px 0;

    &:hover {
      background: $sectionBackground;
    }
  }
  
  & .playlistUsers_title {
    margin: 0px 0px 20px 0px;      
  }
  
  & .playlistUsers_addBtn, & .playlistUsers_removeBtn {
    font-size: 17px;
    float: right;
    
    & :hover {
      cursor: pointer;
    }
    
  }

}