<div class="playlistsView">
    <h1> {{ title }}</h1>

    <div class="playlistsView_inner">
        <ul class="playlist_list">
            <li class="playlist_item" ng-repeat="data in data"
                ng-class="{ playlist: data.kind  }"
                data-kind="{{ data.kind }}"
                id="{{data.id}}">

                <div>
                  <span class="playlist_item_tit_container">
                    <span class="playlist_item_tit">{{ data.title }} playlist</span>
                  </span>
                
                  <span class="playlist_item_info">
                      <i class="fa fa-list"></i> {{ data.track_count }}
                      <i class="fa fa-clock-o"></i> {{ formatSongDuration (data.duration) }}
                  </span>
                  
                  <span class="playlist_item_controls">
                      <a ng-click="removePlaylist(data.id)"> <i class="fa fa-trash"></i> delete playlist</a>
                  </span>                  
                </div>

            </li>
        </ul>
    </div>

</div>