<div class="playlistUsers">
    <div ng-include="'views/common/modals/closeButton.html'"></div>

    <header class="playlistUsers_title">
        <h3>Edit Users</h3>
    </header>
    
    <!-- add new user -->
    <input type="text" name="new_user" id="newUser" placeholder="Enter username" class="playlistUsers_field" ng-model="newUserName">
    <a ng-click="addUser()"> <i class="fa fa-plus"></i> add</a>
    <!-- add new user /  -->

    <!-- current users -->
    <ul class="playlistUsers_list">
        <li class="playlistUsers_list_item" ng-repeat="data in data">
            <h4>{{ data.userName }}</h4>
        </li>
    </ul>
    <!-- existing playlists /  -->
    
</div>