<div class="playlistView">
    <h1> 
      <span ng-if="shared">Shared</span>
      {{ title }} 
    </h1>
    
    <filter-tracks data-is-playlist="true" class="filterTracks" ></filter-tracks>
    <sort-tracks data-is-playlist="true" class="sortTracks" ></sort-tracks>
                
    <div class="playlistView_info">
      <span class="playlist_item_info">
          <span><i class="fa fa-list"></i> {{ data.track_count }} </span>
          <span><i class="fa fa-clock-o"></i> {{ formatSongDuration (data.duration) }}</span>
      </span>              
      
    </div>

    <!-- Song list wrapper -->
    <div class="playlistView_inner">
        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-container='".mainView"'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="track in tracks | orderBy: sortBy : sortByOrder" ng-if="track.kind == 'track' && track.streamable" id="{{ track.id }}" >
            
                <tracks data="track"/>
                
                <span ng-if="shared" class="songList_item_shared_controls">
                  
                  <a ng-if="isOwner == 'true'" ng-click="removeFromPlaylist(track.id)">
                    <i class="fa fa-trash-o"></i> 
                    remove
                  </a>
                  
                  <a ng-if="isOwner == 'false'" ng-click="removeTrackRequest(track.id)">
                    <i class="fa fa-trash-o"></i> 
                    remove request
                  </a>
                  
                </span>                
                
            </li>
            
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/common/loading.html'"></div>

</div>