<div class="playlistsView">
    <h1> {{ title }}</h1>

    <div class="playlistsView_inner">
        <ul class="playlist_list">
            <li class="playlist_item" ng-repeat="data in data"
                ng-class="{ playlist: data.kind  }"
                data-kind="{{ data.kind }}"
                id="{{data.id}}">

                <div>
                  <span class="playlist_item_tit_container">
                    <span ui-sref="playlist({ id: data.id, title: data.title })" class="playlist_item_tit">{{ data.title }}</span>
                  </span>
                
                  <span class="playlist_item_info">
                      <span><i class="fa fa-list"></i> {{ data.track_count }} </span>
                      <span><i class="fa fa-clock-o"></i> {{ formatSongDuration (data.duration) }}</span>
                  </span>
                  
                  <span ng-show="data.isOwner" class="playlist_item_owner">
                  
                    <span class="playlist_item_controls">
                        <a ng-click="remove(data.id)"> <i class="fa fa-trash"></i> delete</a>
                        <a export> <i class="fa fa-floppy-o"></i> export</a>
                    </span>                  
                    
                    <span class="playlist_item_shared">
                        <a ng-click="unshare(data.id)"> <i class="fa fa-times"></i> unshare</a>           
                        <a data-playlist-id="{{ data.id }}" data-playlist-title="{{ data.title }}" playlist-users> <i class="fa fa-bookmark"></i> edit users</a>
                        <span><i class="fa fa-check"></i> owner</span>
                    </span>
                  
                  </span>
                  
                </div>

            </li>
        </ul>
    </div>

</div>